#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.app0 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.ranking {
  background-color: #888;
  border-radius: 20px;
}

.ranking > ul{
  list-style-type: none;
  padding: 10px;
}

.ranking > ul > li {
  margin: 10px 50px;
  display: flex;
  justify-content: space-between;
}
